In [2]:
import pandas as pd
data_set = pd.read_csv('db.csv', sep=';')
data_set

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47

In [6]:
data_set[['Kilometraje','Valor']].describe().round()

       Kilometraje     Valor
count        197.0     258.0
mean       58278.0   98961.0
std        35837.0   29812.0
min          107.0   50742.0
25%        27505.0   70744.0
50%        55083.0   97724.0
75%        90495.0  124633.0
max       119945.0  149490.0

In [15]:
d = (2,4,6,4,5,7,8,9)
_, A, *_, B= d
_

[6, 4, 5, 7, 8]

In [19]:
f = 0,1,2,3,4,5,6,7
for i,j in zip(d,f):
  print(i,'=',j)

2 = 0
4 = 1
6 = 2
4 = 3
5 = 4
7 = 5
8 = 6
9 = 7

In [22]:
zip()

ValueError: ignored